<%= form_for(@mobile_app) do |f| %>
  <% if @mobile_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobile_app.errors.count, "error") %> prohibited this mobile_app from being saved:</h2>

      <ul>
      <% @mobile_app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :itunes_url %><br>
    <%= f.text_field :itunes_url %>
  </div>
  <div class="field">
    <%= f.label :icon_url %><br>
    <%= f.text_field :icon_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
