<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mobile_app.name %>
</p>

<p>
  <strong>Itunes url:</strong>
  <%= @mobile_app.itunes_url %>
</p>

<p>
  <strong>Icon url:</strong>
  <%= @mobile_app.icon_url %>
</p>

<%= link_to 'Edit', edit_mobile_app_path(@mobile_app) %> |
<%= link_to 'Back', mobile_apps_path %>
